.load {
  animation: load 2s linear infinite -2s;
  @apply border-[5px] w-[2rem] h-[2rem] rounded-[50%] border-t-[#008080] lg:mt-6 mx-auto mt-3 mb-3 lg:mb-6;
}
@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
